* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  max-width: 1500px;
  height: 5747px;
}
.header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 116px 0 0;
}
.header-img {
  width: 274px;
  height: 19px;
}
.header-flex {
  display: flex;
  justify-content: center;
  padding: 32px 0 0;
}
.header-h1 {
  width: 624px;
  height: 134px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #1d2130;
}
.header-h6 {
  width: 496px;
  height: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1d2130;
}
.header-p {
  width: 496px;
  height: 104px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1d2130;
  opacity: 0.7;
}
.header-img__video {
  width: 100%;
  padding: 96px 110px;
}

/* section */
.section {
  max-width: 1500px;
  height: 867px;
  margin: 0 auto;
  background: #eff7f2;
}
.section-flex {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}
.section-h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}
.section-1 {
  width: 496px;
  height: 84px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1d2130;
}
.section-p {
  width: 496px;
  height: 130px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1d2130;
  opacity: 0.7;
}
.section-flex__our {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 96px 0;
}
.section-flex__h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}
.section-img__flex {
  display: flex;
  align-items: center;
  padding: 50px 0;
  gap: 96.79px;
}
